* {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    width: 1280px;
    height: 323px;
    background-color: rgb(68, 81, 97);
}

main {
    margin: 0 auto;
    width: 1280px;
}

main section {
    padding-left: 50px;
    padding-right: 50px;
}

.product {
    width: 469px;
    height: 214px;
    background-color: white;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

header h1 {
    display: inline-block;
    color: white;
    font-size: 59px;
    font-family: arial;
    margin-left: 50px;
    margin-top: 45px;
}

.check img {
    float: left;
    margin-top: 7px;
    width: 37px;
    height: 24px;
}

header ul {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 15px;
}

header ul li {
    color: white;
    font-family: arial;
    font-size: 20px;
    line-height: 36px;
}

.about {
    height: 323px;
}

.about img {
    width: 430px;
    height: 245px;
    float: right;
    margin-top: 50px;
}

.about h3 {
    display: inline-block;
    color: rgb(68, 81, 97);
    font-size: 30px;
    font-family: arial;
    margin-top: 45px;
    line-height: 36px;
}

.about p {
    color: rgb(51, 51, 51);
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    width: 649px;
}

.pluses {
    background-color: rgb(245, 245, 245);
    height: 439px;
}

.pluses h3 {
    text-align: center;
    color: rgb(68, 81, 97);
    font-size: 30px;
    font-family: arial;
    line-height: 36px;
    padding-top: 45px;
}

.pluses table {
    width: 1157px;
    height: 260px;
}

.pluses table td {
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    padding-top: 20px;
}

.plusBox{
    float: left;
    width: 40px;
    height: 72px;
}

.plus {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    background-color: rgb(68, 81, 97);
}

.screenshots h3 {
    text-align: center;
    color: rgb(68, 81, 97);
    font-size: 30px;
    font-family: arial;
    margin-top: 45px;
    line-height: 36px;
}

